{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ block.super }} - Оформлення замовлення
{% endblock %}

{% block style %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="{% static  'orders/css/order_checkout.css' %}">
{% endblock%}

{% block content %}
<div class="container px-0" style="min-height: 1000px;">
    <div class="row justify-content-between p-0">
        <div class="col-lg-7 order-last order-lg-first my-5">
            <form method="post" id="checkout-form">
                {% csrf_token %}
                <div class="card bg-light p-3">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{ form.first_name.label_tag }}
                            {{ form.first_name }}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form.last_name.label_tag }}
                            {{ form.last_name }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form.phone.label_tag }}
                        {{ form.phone }}
                    </div>
                    <div class="form-group">
                        {{ form.email.label_tag }}
                        {{ form.email }}
                    </div>
                </div>
                <div class="card bg-light p-3 mt-4">
                    <div class="form-group">
                        <label for="selectCity">Місто:</label>
                        <select name="delivery_city" id="selectCity" class="nova-poshta-city js-states form-control">
                            <option></option>
                        </select>
                    </div>
                    <div class="form-group" style="display: none;">
                        <label for="selectWarehouses">Відділення:</label>
                        <select name="np_warehouses" id="selectWarehouses" class="nova-poshta-warehouses js-states form-control">
                            <option></option>
                        </select>
                    </div>
                </div>
                <button class="mt-4 add-comment" type="button">
                    <svg width="1.2em" height="1.2em" viewBox="4 4 16 16" class="bi bi-plus" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                    </svg>
                    <p class="text-nowrap">Добавити коментар</p>
                </button>
                <div class="form-group mt-4 comment-input" style="display: none;">
                    {{ sub_form.comment.label_tag }}
                    {{ sub_form.comment }}
                </div>
                <button type="submit" cart-data="" class="btn btn-block btn-success mt-4">Оформити</button>
            </form>
        </div>
        <div class="col-lg-5 mt-5">
            <div class="card checkout-cart">
                <div class="card-header">
                    <h5>Товари в корзині</h5>
                </div>
                <div class="card-body">

                </div>
                <div class="card-footer text-right">
                    <h5 class="total-price"></h5>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script src="{% static  'orders/js/orders_checkout.js' %}"></script>
{% endblock %}